body {
    background-image: url('fonlogin.jpg');
    background-size: cover; /* чтобы изображение занимало всю площадь фона */
    background-repeat: no-repeat; /* чтобы изображение не повторялось */
}